{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        WELOCOME TO A FASHION STORE
    {% endif %}
{% endblock %}
{% block title %}
{% if category %}
         {{ category.name}}-FASHION STORE
    {% else %}
         CHOOSE YOUR STYLE
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}

<div>
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href="{% url 'shopapp:allProdCat' %}"> OUR STYLES</a></p>
         </div>
    </div>
</div>
{% endif %}
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
</div>
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="1450" height="300">
    <p class="text-justify"> {{category.description}}</p>
</div><br>

{% else %}
<div>
<center><img class="my_image my_image_padding" src="{% static 'img/banner.png' %}"></center>
</div>
<br>
<div>
    <h1 class="text-center my_title"> Our collection </h1>
    <p class="text-justify">Fashion doesn't have to be complicated.Fashion is an instant language.Classy never goes out of style. Effortless style, endless possibilities. Slay all day, every day. Embrace the simplicity of style. It’s my job to reinvent and recreate myself every day. Isn’t elegance forgetting what one is wearing? In order to be irreplaceable, one must always be different. if you’re having a bad day, dress as if it might become your best. I’ve always been fashion-conscious. I don’t do fashion. I am fashion. I do fashion to tell a narrative. Fashion is whatever you wear. Unfashion is what other people wear</p>
</div>
{% endif %}

        <div class="container">
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 text-center">
                {% for product in products.object_list %}
                <div class="my_bottom_margin">
                    <div class="card text-center col-9 col-md-4 col-sm-12 col-lg-4" style="min-width:18rem;">
                        <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="250" height="350"></a>
                         <div class="card-body ">
                             <h4>{{product.name}}</h4>
                             <p>{{product.price}}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
         </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"> {{pg}} </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
    </div>

{% endblock %}
